* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Tahoma;
    color: rgb(31, 29, 29);
    background-color: rgb(210, 212, 228);   
}

header {
    font-size: 40px;
}

.weekday-title {
    color: white;
    text-transform: uppercase;
}

.weekday-title .container {
    background-color: rgb(34, 36, 36);
}

.day  .container{
    background-color: lightgray;
}

.other-month  .container{
    background-color: rgb(169, 168, 179);
}

.date {
    background-color: rgb(43, 43, 46);
    color: white;
    font-size: 25px;
}

.event {
    font-size: 14px;
}

.event-decribtion {
    color: rgb(107, 105, 105);
}

.event-time {
    color: rgb(93, 132, 160);
    font-size: 12px;
}

/* width and height */
#calendar {
    width: 100%;
}

#calendar ul li {
    display: block;
    width: 14.28571%;
}

.container {
    height: 100%;
}

.weekday-title {
    height: 40px;
}

.day {
    height: 180px;
}

date {
    width: 50px;
    height: 50px;
}

/* Positioning */
#calendar ul li {
    float: left;
}

#calendar ul {
    clear: both;
}

.date {
    float: right;
}

.clear {
    clear: both;
}

.event {
    clear: both;
}
